<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddCart</servlet-name>
    <servlet-class>Servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCart</servlet-name>
    <url-pattern>/AddCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNumber</servlet-name>
    <servlet-class>Servlet.AddBookNumberFormCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNumber</servlet-name>
    <url-pattern>/AddNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reduceNumber</servlet-name>
    <servlet-class>Servlet.reduceBookNumberFormCart2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reduceNumber</servlet-name>
    <url-pattern>/reduceNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>Servlet.SearchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeInfo</servlet-name>
    <servlet-class>Servlet.ChangeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeInfo</servlet-name>
    <url-pattern>/changeInfo</url-pattern>
  </servlet-mapping>
   <filter>
     <filter-name>EncodingFilter</filter-name>
     <filter-class>Filter.EncodingFilter</filter-class>
 </filter>
 <filter-mapping>
     <filter-name>EncodingFilter</filter-name>
     <url-pattern>/*</url-pattern>
 </filter-mapping>
</web-app>